body {
    font-family: dax-regular;
    padding: 0 12.5%;
}
.bgc-change {
    background-image: url("../../docs/image/background.png");
    background-size: cover;
}
.divide {
    margin: 1em 0;
}
.title {
    display: inline-block;
    -webkit-transform: translate(0,-60%);
    -moz-transform: translate(0,-60%);
    -ms-transform: translate(0,-60%);
    transform: translate(0,-60%);
}