.imgs {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  >.scroll-body {
    height: 30em;
    width: 40em;
  }
}
.images {
  position: relative;
  height: 30em;
  max-width: 40em;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
  >.scroll-body,
  >.img-choosed{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    text-align: center;
    >img[src]{
      height: 100%;
      width: 100%;
    }
  }
  >.scroll-body:not(.img-choosed) {
    display: none;
    left: 40em;
  }
  .img-choosed {
    left: 0;
  }
}

.c-slider {
  -webkit-animation: c-image-slider forwards .5s;
  animation: c-image-slider forwards .5s;
}
@-webkit-keyframes c-image-slider {
  from {
    left: 0;
  }
  to {
    left: -40em;
  }
}
@keyframes c-image-slider {
  from {
    left: 0;
  }
  to {
    left: -40em;
  }
}

.u-slider {
  -webkit-animation: u-image-slider forwards .5s;
  animation: u-image-slider forwards .5s;
}
@-webkit-keyframes u-image-slider {
  from {
    left: 40em;
  }
  to {
    left: 0;
  }
}
@keyframes u-image-slider {
  from {
    left: 40em;
  }
  to {
    left: 0;
  }
}

.c-l-slider {
  -webkit-animation: cl-image-slider forwards .5s;
  animation: cl-image-slider forwards .5s;
}
@-webkit-keyframes cl-image-slider {
  from {
    left: 0;
  }
  to {
    left: 40em;
  }
}
@keyframes cl-image-slider {
  from {
    left: 0;
  }
  to {
    left: 40em;
  }
}

.u-l-slider {
  -webkit-animation: ul-image-slider forwards .5s;
  animation: ul-image-slider forwards .5s;
}
@-webkit-keyframes ul-image-slider {
  from {
    left: -40em;
  }
  to {
    left: 0;
  }
}
@keyframes ul-image-slider {
  from {
    left: -40em;
  }
  to {
    left: 0;
  }
}
.imgscroll-left,
.imgscroll-right {
  position: absolute;
  height: 30em;
  width: 5em;
  line-height: 30em;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  cursor: pointer;
  &:hover{
    width: 3em;
    background-color: rgba(0,0,0,.3);
  }
  &:after{
    content: "";
    position: absolute;
    top: 15em;
    font-size: 16px;
    transition: all .3s ease-in-out;
    border: 6px solid #fff;
    width: 12px;
    height: 12px;
  }
}
.imgscroll-right {
  left: 35em;
  text-align: center;
  background-image: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,.2));
  &:hover{
    left: 37em;
    &:after{
      left: .9em;
    }
  }
  &:after{
    content: "";
    left: 2em;
    border-left: none;
    border-top: none;
    -webkit-transform: rotate(-45deg);//旋转45°
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
.imgscroll-left {
  background-image: linear-gradient(90deg, rgba(0,0,0,.2), rgba(0,0,0,0));
  &:hover{
    &:after{
      right: .9em;
    }
  }
  &:after{
    right: 2em;
    border-right: none;
    border-top: none;
    -webkit-transform: rotate(45deg);//旋转45°
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}