@font-face {
    font-family: 'dax-regular';
    src: url('dax-regular.eot');
    src: url('dax-regular.eot?#iefix') format('embedded-opentype'),
    url('dax-regular.woff2') format('woff2'),
    url('dax-regular.woff') format('woff'),
    url('dax-regular.ttf') format('truetype'),
    url('dax-regular.svg#dax-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}