
@font-family:dax-regular;

.blur {//未实现成功的高斯模糊
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}


.modal {//在这一层设计灰暗颜色
  display:none;//单独演示的时候要注销
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0,0,0,.5);
  -webkit-overflow-scrolling: touch;
}

.content{//为整个模态框限定居中
  display: none;
  font-family: @font-family;
  text-align:middle;
  width:768px;
  padding: 3em;
  margin: 0 auto;
  position: relative;
}

.modal-main{//模态框的主体
  background-color:white;
  border-radius: 0px;
  box-shadow: 0 3px 30px rgba(0,0,0,.15);
  background-clip: padding-box;//背景被剪裁到padding（也就是不含border）
  outline: 0;
  z-index: 101;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  }
.content-sm{
  width: 480px;
}

.modal-header {
  padding: 1em 2em;
  border-bottom: 1px solid #d8d8d8;
  min-height: 3em;
}

.modal-main .close{//小的关闭按钮样式
     float: right;
     margin-right: -10px;
     margin-top: -10px;
     height: 40px;
     width: 40px;
     color: white;
     font-size: 100%;
     padding: 0.5em 0.5em;
     background-color: #ee3b3b;
     border-radius: 20px;
     border: 3px solid #ffffff;
     -moz-transition:all .3s;
     -webkit-transition: all .3s;
     transition: all .3s;
     box-shadow: 0 3px 30px rgba(0, 0, 0, .35);
     z-index: 102;
     &:hover {
       background-color: #d42020;
     }
     &:focus {
       outline: none;
       background: #d42020;
       color: white;
     }
 }

.modal-title {
  margin: 0;
  line-height: 2em;
}

.modal-body {
  overflow: auto;
  position: relative;
  padding: 1em 1.5em;
}

.modal-footer {
  padding:1em 1.5em;
  text-align: right;
  border-top: 1px solid #d8d8d8;

  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
  }
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  .btn-block + .btn-block {
    margin-left: 0;
  }
}
