body{
    font-size: 16px
}
#logo{
    position: absolute;
    width: 180px;
    height: auto;
    left: 46px;
    top: 12px;
}
header{
    position: relative;
    width: 1100px;
    height: 80px;
    margin: 0 auto 0;
    box-shadow: 0 0 10px #e6e6e6;
}
#headNav.nav-padding >ul{
    padding: 0 0 0 300px;
    background-color: inherit;
}
#headNav.nav > ul > li > a{
    margin: 26px 30px 0;
    padding: 10px 10px 20px 10px;
    cursor: pointer;
}
#headNav.nav{
    font-size: 130%;
    margin-top: -8px;
}
#headNav.nav > ul > li > a:hover{
    background-color: inherit;
    color: #73dcff;
}
#headNav.nav > ul > li > a:active,
#headNav.nav > ul > li > a:focus{
    color: #73dcff;
    box-shadow: none;
    border-bottom: 2px solid #73dcff;
}

#headNav.nav .active {
    color: #73dcff;
    border-bottom: 2px solid #73dcff;
    background-color: inherit;
    box-shadow: none;
}

section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0 0 0;
}
#detail {
    width: 250px;
    box-sizing: border-box;
}
#content {
    width: 850px;
    padding: 0 32px 0 0;
    /*border-left: 1px solid #e6e6e6;*/
    box-sizing: border-box;
}

#detail ul {
    padding: 0;
    list-style: none;
}
#detail a,
#detail #det a{
    font-family: inherit;
    display: inline-flex;
    width: 86%;
    height: 50%;
    color: #333;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

#detail #det a {
    margin: -8px 0 -8px -24px;
    padding: 8px 0 9px 24px;
    width: 100%;
}
#detail #det a:hover{
    color: #2dcbff;
}
#detail li {
    font-family: 'Raleway',arial, sans-serif;
    margin: 0 8px 8px 32px;
    padding: 8px 0 8px 24px;
    border-left: 10px solid transparent;
    box-shadow: 0 0 10px #e6e6e6;
    transition: all 0.3s ease-in-out;
    line-height: 20px;
}
#detail #det .choosed  {
    border-left-color: #73dcff;
}
#detail #det .choosed a{
    color: #2dcbff;
}
.title {
    display: block;
    font-family: 'Raleway',arial, sans-serif;
    font-size: 56px;
    margin: 12px 30px 0;
    padding: 10px 0;
    color: #333;
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: 1px solid #e6e6e6;
}
.under{
    display: block;
    margin: 10px 30px 66px;
    font-family: 'raleway',arial, sans-serif;
    font-size: 120%;
    color: #666;
}
.introduce{
    display: block;
    margin: -80px 30px 66px;
    font-size: 100%;
    color: #666;
    /*text-align: center;*/
}
.introduce h1{
    margin-top: 100px;
    font-size: 30px;
    font-weight: 500;
    color: #666;
    text-align: center;
}
.block {
    position: relative;
    margin: 0 30px 60px;
    padding: 0 1.5em 2.2em;
    border: 1px solid #e6e6e6;
    box-shadow: 0 2px 6px #e6e6e6;
}
.code-display {
    position: absolute;
    font-size: 9px;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
.block .small-title {
    width: 100%;
    margin: 0 auto 6px;
    padding: 12px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    font-size: 120%;
    font-weight: 500;
    color: #333;
    background-color: white;
    box-sizing: border-box;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.code{
    display: none;
    margin: -70px 30px 60px;
}

/*样例的样式*/

.grid-blue{
    height: 50px;
    border: 1px solid #ffffff;
    font-size: 120%;
    color: #fff;
    background-color: #999;
    line-height: 50px;
    text-align: center;
}

.yl {
    padding: 18px;
    /*background-image: linear-gradient(45deg, #EE855F, #a3f7e6);*/
    /*background-image: linear-gradient(135deg, #5fa4ee, #a3f7e6);*/
    background-image: linear-gradient(135deg, #5bcefb, #fc78fd);

}
.code .html{
    font-family: 'SourceCodePro', arial, sans-serif;
    font-size: 14px;
}
.table-underline > thead > tr > th{
    font-size: 22px;
    font-weight: 500;
    padding-top: .18em;
    padding-bottom: .18em;
}
.table-bordered > thead > tr > th{
    font-size: 22px;
    font-weight: 500;
    padding-top: .18em;
    padding-bottom: .18em;
}
.table-underline > thead > tr > th{
    font-size: 22px;
    font-weight: 500;
    padding-top: .18em;
    padding-bottom: .18em;
}
.table-grey > thead > tr > th{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    padding-top: .15em;
    padding-bottom: .15em;
    background-color: rgba(0,0,0,0.5);
    border-bottom: 2px solid #fff;
}
.table-grey > tbody > tr > td{
    border: 1px solid #fff;
}
.table-grey > thead > tr > th {
    border: 1px solid #fff;
}
.container{
    width: 100%;
}
.block h5{
    font-size: 14px;
    font-weight: 500;
    margin:6px 0 1px 0;
}
#detail .top {
    display: inline-block;
    position: absolute;
    bottom: -86px;
    right: -860px;
    height: 40px;
    width: 40px;
    background-color: rgba(0,0,0,0.2);
    color: #ffffff;
    border-radius: 100%;
    text-align: center;
    line-height: 40px;
    transition: background-color 0.3s;
    cursor: pointer;
    z-index: 9999;
}
#detail .top a{
    display: none;
    left: 0;
    color: rgba(0,0,0,0.6);
    font-weight: 500;
    cursor: pointer;
    padding: 0;
}
#detail .top:hover{
    background-color: rgba(0,0,0,0.65);
}
#detail .top:hover a{
    display: inline-block;
}
.left-white{
    position: absolute;
    left: -20px;
    top: 0;
    bottom: 0;
    width: 20px;
    height: auto;
    background-color: #fff;
}
.right-white{
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    width: 20px;
    height: auto;
    background-color: #fff;
}
#content .scroll-choosed a {
    color: #000000;
}
.header {
    margin: 60px auto 0;
    width: 600px;
    text-align: center;
}
.btn-center {
    text-align: center;
    min-width: 600px;
}
.btn-center .btn{
    margin: 1em 0.5em;
}
#begin h2{
    display: inline-block;
    color: #666;
    /*width: 660px;*/
    text-align: center;
    font-size: 24px;
    font-family: 'Raleway',arial, sans-serif;
    font-weight: normal;
    font-stretch: condensed;
    text-transform: uppercase;
    margin: 66px 106px 0;
}
#begin legend{
    margin: 0 30px;
}

kbd {
    margin: 2px 4px;
    padding: 2px;
    color: red;
    background-color: #f5f5f5;
    font-family: 'SourceCodePro', arial, sans-serif;
    font-size: 14px;
    border-radius: 3px;
}

.description {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e3e3e3;
    line-height: 1.4em;
}