body{
    font-size: 16px;
    font-family: dax-regular, arial, sans-serif;
}
#logo{
    position: absolute;
    width: 220px;
    height: auto;
    left: 36px;
    top: 6px;
}
header{
    position: relative;
    width: 1100px;
    height: 80px;
    margin: 32px auto 0;
    border-bottom: 1px solid #e0e0e0;
}
.nav-padding >ul{
    padding: 0 0 0 300px;
    background-color: inherit;
}
.nav > ul > li > a{
    margin: 28px 40px 0;
    padding: 10px 10px 20px 10px;
    cursor: pointer;
}
.nav{
    font-size: 130%;
    margin-top: -20px;
}
.nav > ul > li > a:hover{
    background-color: inherit;
    color: #73dcff;
}
.nav > ul > li > a:active,
.nav > ul > li > a:focus{
    color: #73dcff;
    box-shadow: none;
    border-bottom: 2px solid #73dcff;
}

section {
    display: -webkit-flex;
    display: flex;
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0 0 0;
}
#detail {
    width: 250px;
    box-sizing: border-box;
}
#content {
    width: 850px;
    padding: 0 32px;
    /*border-left: 1px solid #e6e6e6;*/
    box-sizing: border-box;
}

#detail ul {
    padding: 0;
    list-style: none;
}
#detail a {
    display: inline-flex;
    width: 100%;
    height: 50%;
    padding: 6px 24px;
    color: #333;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
/*#detail a:hover {*/
/*color: #9b9b9b;*/
/*}*/
#detail li {
    margin: 0 8px 8px 32px;
    padding: 3px;
    border-left: 10px solid transparent;
    /*background-color: #efefef;*/
    /*background-color: #888;*/
    box-shadow: 0 0 10px #e6e6e6;
    transition: all 0.3s ease-in-out;
    /*line-height: -moz-block-height;*/
    line-height: 20px;
}
/*#detail li:hover{*/
/*box-shadow: 0 0 100px rgba(0,0,0,0.1);*/
/*}*/
#detail .choosed  {
    border-left-color: #73dcff;
}
.title {
    text-align: center;
    font-size: 200%;
    margin: 16px 0;
    padding: 8px 0;
    /*border-bottom: 2px solid #e6e6e6;*/
    color: #fff;
    background-image: linear-gradient(135deg, #5fa4ee, #a3f7e6);
    /*border-radius: 8px;*/
    font-weight: 500;
}
.block {
    position: relative;
    margin: 60px 30px 100px;
    padding: 0 1.8em 2.4em;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 6px #e0e0e0;
}

.code-display {
    position: absolute;
    font-size: 9px;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
.block h2 {
    width: 100%;
    margin: 0 auto 6px;
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    font-size: 146%;
    font-weight: 500;
    color: #333;
    background-color: white;
    box-sizing: border-box;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.code{
    display: none;
    margin: -100px 30px 60px;
}

/*样例的样式*/

.grid-blue{
    height: 60px;
    border: 1px solid #ffffff;
    font-size: 120%;
    font-weight: bold;
    color: #a4bbef;
    background-color: #dedede;
    line-height: 60px;
    text-align: center;
}

.yl {
    padding: 32px;
    background-image: linear-gradient(45deg, #EE855F, #a3f7e6);
.code .html{
    font-family: 'SourceCodePro', arial, sans-serif;
    font-size: 14px;
}
.table-underline > thead > tr > th{
    font-size: 22px;
    font-weight: 500;
    padding-top: .18em;
    padding-bottom: .18em;
}
.table-bordered > thead > tr > th{
    font-size: 22px;
    font-weight: 500;
    padding-top: .18em;
    padding-bottom: .18em;
}
.table-underline > thead > tr > th{
    font-size: 22px;
    font-weight: 500;
    padding-top: .18em;
    padding-bottom: .18em;
}
.table-grey > thead > tr > th{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    padding-top: .15em;
    padding-bottom: .15em;
    background-color: rgba(0,0,0,0.5);
    border-bottom: 2px solid #fff;
}
.table-grey > tbody > tr > td{
    border: 1px solid #fff;
}
.table-grey > thead > tr > th {
    border: 1px solid #fff;
}
.container{
    width: 100%;
}