.new-padding >ul>li >a{
    padding: 0.85em 1em;
    padding-left: 1.5em;
}
.new-padding >ul>li >a:hover,
.new-padding >ul>li >a:active,
.new-padding >ul>li >a:focus{
    padding-left: 2.1em;
    color: #000000;
}

.new-padding >ul>li >a:hover {
    background-color: rgba(255, 255, 255, 0.6);
}
.new-padding >ul>li >a:active,
.new-padding >ul>li >a:focus{
    background-color: white;
}
.new-padding >ul >li.active >a{
    text-decoration: none;
    color:#434343;
    background-color: white;
    border-left:10px solid #73dcff;
    padding-left: 2.1em;
    padding-right: 1.4em;
 }
.header {
    margin: 60px auto 0;
    width: 600px;
    text-align: center;
}
.second-title{
    max-width: 600px;
    margin: 0 auto 0;
}
.btn-center {
    text-align: center;
    min-width: 600px;
}
.btn-center .btn{
    margin: 1em 0.5em;
}
#Nav{
    /*position: absolute;*/
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    background-color: #000000;
    width: 176px;
    padding-left: 20px;
}
#Nav img{
    width: 146px;
    height: auto;
    margin-left: 0.9em;
    margin-top: 1.5em
}
#Nav nav ul:not(:first-child){
    border-top: none;
    margin-top: 0;
}
#Nav nav ul li .loading{
    height: 2.6em;
    padding-left: 1em;
}#Nav nav ul li .loading-radius{
    height: 2.6em;
    padding-left: 1.8em;
    padding-top: 0.6em;
    box-sizing: border-box;
}
#Nav nav ul li .loading-round{
    height: 2.6em;
    padding-left: 1.5em;
    padding-top: 1em;
    box-sizing: border-box;
}

#Nav nav ul{
    position: relative;
}
#Nav nav ul img{
    width: 40%;
    height: auto;
    position: absolute;
    top: 12px;
    right: 30px;
}
.nav-vertical.nav-padding > ul{
    padding: 2em 0;
    margin-top: 30px;
}
#css,
#group,
#js{
    cursor: pointer;
}
#cssMenu,
#groupMenu,
#jsMenu{
    display: none;
    padding: 2.5em 0;
}
.nav-vertical.nav-padding > ul#back{
    padding: .5em 0;
}
.nav-vertical.nav-padding > ul#back >li{
    color: #73dcff;
    text-align: center;
}
#back{
    display: none;
    cursor: pointer;
}
.main-content .c-menu{
    position: fixed;
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    box-sizing: border-box;
    width: 196px;
}.main-content .c-2{
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    box-sizing: border-box;
    width: 196px;
}
.main-content .c-10{
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    box-sizing: border-box;
    background-color: #fff;
    width: calc(100% - 196px);
    padding: 0 100px;
    margin-top: -20px;
    margin-bottom: -20px;
}
.main-content{
    letter-spacing: -0.31em;
    word-spacing: -0.43em;
    text-rendering: optimizespeed;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    box-sizing: border-box;
    width: 1100px;
    margin: 0 auto;
    height: 100%;
}
.grids-16.container.gutter{
    width: 800px;
}
.catalog1{
    margin: 80px 0 50px 160px;
}
.catalog2{
    margin-bottom: 50px;
}
.table-bordered > thead > tr > th{
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    border-bottom: 2px solid #fff;
}
.table-bordered > tbody > tr > td{
    border: 1px solid #fff;
}
.table-bordered > thead > tr > th {
    border: 1px solid #fff;
}